body{
    background-image: url("../images/Main_Body.jpg");
}

#center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#logo{
    width: 200pt;
}

#touchImage{
    width: 100pt;
    position: relative;
    left: 100pt;
}