/*
  Authors: Nicholas Eng, Ryu Funakoshiya, Joshua Kantarges
  CSS for styling page
*/

body {
  margin: 2%;
  padding: 2%;
  background-image: url("./images/wood.jpg");
  background-size: cover;
  background-blend-mode: lighten;
}

.logoHeader {
  background-color: #F6F6F6;
  font-family: monospace;
  font-style: italic;
  font-size: 50px;
  color: #BB5612;
  text-align: center;
}
