/*
  Authors: Nicholas Eng, Ryu Funakoshiya, Joshua Kantarges
  CSS for styling page
*/

body {
  background-image: url("./images/Pattern_Background.jpg");
  background-size: auto;
  margin: 0%;
}

a:link, a:visited, a:hover, a:active {
  color: #584421;
  text-decoration: none;
  padding-right: 3%;
}

#background {
  width: 100%;
}

#menuBar {
  background-color: #ECECEC;
  height: 10%;
  width: 100%;
}

#menu {
  position: absolute;
  left: 35%;
  top: 6%;
  width: 70%;
  float: right;
  font-size: 25px;
  font-family:sans-serif;
}

#logo {
  padding-left: 2%;
}

#body {
  position: absolute;
  top: 22%;
}
