#background {
  width: 75%;
}

#body {
  position: absolute;
}

.foodArea {
  text-align: center;
  vertical-align:middle;
  font-size: 1.5vw;
  font-family: sans-serif;
  border: solid;
  font-weight: bold;
  color:#584421;
  /* box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5); */
}

input[type="button"] {
  font-size: 2vw;
  font-family: Arial;
  font-weight: bold;
  border: none;
  border-width: 3px;
  background-color: transparent;
  color: #584421;
  margin-left: 25px;
}

input[type="button"]:hover{
  border: none;
  border-radius: 20px;
  border-width: 3px;
  background-color: #584421;
  color: white;
  margin-left: 25px;
}

input[type="button"]:active{
  border: none;
  border-radius: 20px;
  border-width: 3px;
  background-color: white;
  color: #584421;
  margin-left: 25px;
}

#title{
  position: absolute;
  top:5%;
  left:5%;
  text-align: center;
  vertical-align:middle;
  font-size: 4vw;
  font-weight: bold;
  font-family: sans-serif;
  color:#584421;
}

#description{
  text-align: center;
  vertical-align:middle;
  font-size: 1vw;
  font-weight: bold;
  font-family: sans-serif;
  color:#584421;
}

#topLeft {
  position: absolute;
  width: 17%;
  height: 25%;
  top:20%;
  left:5%;
}

#TL_Back{
  position: absolute;
  width: 17.26%;
  height: 60%;
  top:20%;
  left:5%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  border: solid;
  opacity: 60%;
  border-width: 0.1px;
  color:#584421;
}

#topMiddle {
  position: absolute;
  width: 17%;
  height: 25%;
  top:20%;
  left:25%;
}

#TM_Back{
  position: absolute;
  width: 17.26%;
  height: 60%;
  top:20%;
  left:25%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  border: solid;
  opacity: 60%;
  border-width: 0.1px;
  color:#584421;
}

#topRight {
  position: absolute;
  width: 17%;
  height: 25%;
  top:20%;
  left:45%;
}

#TR_Back{
  position: absolute;
  width: 17.26%;
  height: 60%;
  top:20%;
  left:45%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  border: solid;
  opacity: 60%;
  border-width: 0.1px;
  color:#584421;
}

#bottomLeft {
  position: absolute;
  width: 17%;
  height: 25%;
  top:60%;
  left:5%;
}

#bottomMiddle {
  position: absolute;
  width: 17%;
  height: 25%;
  top:60%;
  left:25%;
}
#bottomRight {
  position: absolute;
  width: 17%;
  height: 25%;
  top:60%;
  left:45%;
}

#images {
  width:100%;
  height:100%;
}

#back{
  position: absolute;

  top:88%;
  left: 29%;
}

#images:hover {
  box-shadow: inset 0px 0px 10px rgb(0, 0, 0);
}
#orderCenter {
  position:absolute;
  top:205%;
  text-align: center;
}

p {
  margin-bottom: 2px; 
  }

hr {
  border: 0.1px solid #584421;
}